/*
  ------------------------------------------------
  CSS 매거진(Magazine) 스타일 레이아웃
  ------------------------------------------------
*/

::selection {
  background: #070202;
  color: #fff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font: 14px/1.5 "Bentham", serif;
  color: #333;
}

.magazine {
  height: 100%;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  /* background: corazón-salvaje.jpg  */
}

.magazine * {
  margin: 0;
}

.side-layout {
  /* floating - left */
}

.is-headline {
  width: 200px;
  margin-right: 30px;
  padding-top: 115px; /* +=200 */
  text-align: right;
}

.is-headline h1 {
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 15px;
  font-family: "Rozha One", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 0.8;
}

.is-headline p {
  white-space: pre-line;
  margin-bottom: 5px;
}

.is-contents {
  width: 500px;
  padding-top: 105px; /* += 90 */
}

.is-contents p {
  margin-bottom: 21px;
}

.is-contents .dropcap {
  /* padding-left: 200 */
}

/*.is-contents .dropcap::first-letter {
  float: left;
  margin-left: -230px;
  font-size: 500px;
  line-height: 0;
}*/
