 #recommend-chanel {
     border: 1px solid;
     width: 450px;
     height: 250px;
     float: left;
     margin: 10px;
     box-sizing: border-box;
 }
 
 #best {
     border: 1px solid;
     width: 450px;
     height: 250px;
     float: left;
     margin: 10px;
     box-sizing: border-box;
 }
 
 h2 {
     margin-left: 10px;
 }
 
 ul {
     list-style-type: none;
 }
 
 .chanel-list li {
     float: left;
     width: 200px;
     height: 50px;
 }
 
 .chanel-list li a>img {
     width: 50px;
     height: 50px;
 }
 
 .link-text:link,
 .link-text:hover,
 .link-text:focus,
 .link-text:active,
 .link-text:visited {
     color: lightblue;
     text-decoration: none;
 }
 
 .best-list li {
     line-height: 1.8;
 }
 
 .best-list li:nth-child(1)::before {
     content: '1';
     margin-right: 5px;
     background-color: gray;
     float: left;
     width: 20px;
     height: 20px;
     text-align: center;
 }
 
 .best-list li:nth-child(2)::before {
     content: '2';
     margin-right: 5px;
     background-color: gray;
     float: left;
     width: 20px;
     height: 20px;
     text-align: center;
 }
 
 .best-list li:nth-child(3)::before {
     content: '3';
     margin-right: 5px;
     background-color: gray;
     float: left;
     width: 20px;
     height: 20px;
     text-align: center;
 }
 
 .best-list li:nth-child(4)::before {
     content: '4';
     margin-right: 5px;
     background-color: gray;
     float: left;
     width: 20px;
     height: 20px;
     text-align: center;
 }
 
 .best-list li:nth-child(5)::before {
     content: '5';
     margin-right: 5px;
     background-color: gray;
     float: left;
     width: 20px;
     height: 20px;
     text-align: center;
 }