.container {
  position: relative;
  width: 1400px;
  height: 900px;
  background: url('../images/bag.png');
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.left {
  position: absolute;
  background: url('../images/shole.png') no-repeat;
  width: 160px;
  height: 230px;
  margin: 338px 0 0 168px;
}

.logobg {
  position: absolute;
  background: url('../images/BG.png') no-repeat;
  width: 558px;
  height: 426px;
  margin: 234px 448px 240px 394px;
}

.ChristianDior {
  position: absolute;
  background: url('../images/Christian\ Dior.png');
  width: 136px;
  height: 18px;
  margin: 568px 0 0 413px;
}

.c {
  position: absolute;
  background: url('../images/C.png');
  width: 53px;
  height: 62px;
  margin: 319px 0 0 674px;
}

.d {
  position: absolute;
  background: url('../images/D.png');
  width: 69px;
  height: 61px;
  margin: 552px 0 0 669px;
}

.symbol {
  position: absolute;
  background: url('../images/symbol.png');
  width: 30px;
  height: 20px;
  margin: 449px 0 0 684px;
  z-index: 100;
}

.per1 {
  position: absolute;
  background: url('../images/model-1.png');
  width: 145px;
  height: 311px;
  margin: 369px 0 0 518px;
}

.per2 {
  position: absolute;
  background: url('../images/model-2.png');
  width: 153px;
  height: 297px;
  margin: 349px 0 0 725px;
}