<!doctype html>

<html lang="ko">

  <head>



  <meta charset="utf-8" />
  <title>카카오뱅크</title>
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="telephone=no" name="format-detection" />
  <meta content="카카오뱅크 이용안내, 상담하기, 소비자보호, 증명서발급, 회사소개, 인재영입, 한국카카오은행(주)" name="description" />
  <meta content="website" property="og:type" />
  <meta content="https://www.kakaobank.com/static/images/kakaobank_og_img.png" property="og:image" />
  <meta content="kakaobank.com" property="og:site_name" />
  <meta content="https://www.kakaobank.com" property="og:url" />
  <meta content="ko_KR" property="og:locale" />
  <meta content="en_US" property="og:locale:alternate" />
  <meta content="카카오뱅크" property="og:title" />
  <meta content="카카오뱅크 이용안내, 상담하기, 소비자보호, 증명서발급, 회사소개, 인재영입, 한국카카오은행(주)" property="og:description" />
  <meta name="_csrf" content="17f937be-84ae-4ee6-9d93-83be1fe9da1c" />
  <meta name="_csrf_header" content="X-CSRF-TOKEN" />
  <link href="/static/js/kakaobankWeb-1530088221748.min.css" rel="stylesheet" type="text/css" />

  <link rel="icon" sizes="16x16" href="/static/images/favicon/B16.gif" />
  <link rel="icon" sizes="96x96" href="/static/images/favicon/B96.gif" />
  <link rel="icon" sizes="120x120" href="/static/images/favicon/B120.gif" />
  <link rel="icon" sizes="256x256" href="/static/images/favicon/B256.gif" />

  <script class="daum_roughmap_loader_script" src="https://spi.maps.daum.net/imap/map_js_init/roughmapLoader.js"></script>


  <script src="/static/js/kakaobankWeb-lib-1530088136880.min.js"></script>

  <script src="/static/jslib/scrollreveal.min.js"></script>

  <script src="/static/js/kakaobankWeb-resources-1530088136880.min.js"></script>



  <script>
    moment.locale('ko');
  </script>

  
</head>

<body data-browser="chrome" data-os="mac os x" data-browser-major="67" data-browser-minor="0">
  <div id="kakaoIndex">
    <a href="#kakaoBody">본문 바로가기</a>
    <a href="#kakaoGnb">메뉴 바로가기</a>
  </div>
  <div id="kakaoWrap">
    <div id="kakaoHead" role="banner"></div>
    <div class="faq_bg"></div>
    <div class="" id="kakaoContent" role="main">
      <div id="mArticle">
        <h2 class="screen_out" id="kakaoBody">본문</h2>
        <div class="bg_main"></div>
      </div>
    </div>

    <div id="kakaoFoot" role="contentinfo">
      <div class="inner_foot">
        <h2 class="screen_out">서비스 이용정보</h2>
        <div class="footer_info">
          <a class="link_service" href="/Corp/Policy/Service">모바일뱅킹 서비스 이용약관</a>
          <span class="txt_bar"></span>
          <a class="link_service" href="/Corp/Policy/EBanking">전자금융거래 기본약관</a>
          <span class="txt_bar"></span>
          <a class="link_service link_bold" href="/Corp/Policy/Privacy">개인정보처리방침</a>
          <span class="txt_bar"></span>
          <a class="link_service link_bold" href="/Help/ConsumerProtection/OnlineComplaints">전자민원접수</a>
          <span class="txt_bar"></span>
          <a class="link_service" href="/Corp/Policy/ProtectedFinancial">보호금융상품등록부</a>
          <span class="txt_bar"></span>
          <a class="link_service" href="/Help/Documents/ProductDeclaration">상품공시실</a>
          <span class="txt_bar"></span>
          <a class="link_service" href="/Corp/IR/Announcement">경영공시</a>
          <span class="txt_bar"></span>
          <a class="link_service" href="/Corp/News/Notices">공지사항</a>
        </div>
        <div class="info_copyright">
          대표전화 1599-3333
          <span class="txt_tel">(해외 +82-2-6420-3333)</span>
          <small class="txt_copyright">Copyright © KakaoBank of Korea Corp. All rights reserved.</small>
        </div>
        <strong class="screen_out">카카오뱅크 공식채널 바로가기</strong>
        <ul class="list_channel">
          <li>
            <a class="link_channel" href="https://www.facebook.com/kakaobank.official" target="_blank">
              <span class="img_kabang ico_facebook">페이스북</span>
            </a>
          </li>
          <li>
            <a class="link_channel link_blog" href="http://blog.kakaobank.com" target="_blank">
              <span class="img_kabang ico_blog">블로그</span>
            </a>
          </li>
          <li>
            <a class="link_channel link_naver" href="http://post.naver.com/my.nhn?memberNo=37255644&navigationType=push" target="_blank">
              <span class="img_kabang ico_naver">네이버포스트</span>
            </a>
          </li>
          <li>
            <a class="link_channel" href="https://www.youtube.com/kakaobank" target="_blank">
              <span class="img_kabang ico_youtube">유튜브</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script>
    $(function () {
      var app = new KabangWeb.Application({
        el: $("body"),
        release_info: {},
        agent_info: {
          osName: 'mac os x',
          browserName: 'chrome',
          browserVerMajor: '67',
          browserVerMinor: '0'
        },
        last_conn: 'undefined'
      });
    })
  </script>

  <script id="bankCommonHeaderTmpl" type="text/template">
    <div>
      <div class="gnb_wrapper"></div>
      <a href="javascript:;" class="btn_all">
        <span class="bg_br"></span>
        <span class="img_kabang ico_all">전체 서비스 보기</span>
      </a>
    </div>
  </script>
  <script id="bankHeaderTmpl" type="text/template">
    <h1 class="logo_kabang">
      <a href="/" id="kakaoServiceLogo" class="img_kabang link_kabang">kakaobank</a>
    </h1>
    <div id="kakaoGnb" role="navigation">
      <h2 class="screen_out">주요메뉴</h2>
      <ul class="gnb_main">
        <li>
          <a href="/Help" class="link_gnb">고객센터</a>
          <span class="txt_bar"></span>
        </li>
        <li>
          <a href="/Corp" class="link_gnb">은행소개</a>
        </li>
      </ul>
    </div>
  </script>

  <script id="bankCorpHeaderTmpl" type="text/template">
    <h1 class="logo_kabang">
      <a href="/" id="kakaoServiceLogo" class="img_kabang link_kabang">kakaobank</a>
      <a href="/Corp" class="link_main">은행소개</a>
    </h1>
    <div id="kakaoGnb" role="navigation">
      <h2 class="screen_out">은행소개 메인메뉴</h2>
      <div class="bg_sub"></div>
      <ul class="gnb_kabang"></ul>
    </div>
  </script>

  <script id="bankHelpHeaderTmpl" type="text/template">
    <h1 class="logo_kabang">
      <a href="/" id="kakaoServiceLogo" class="img_kabang link_kabang">kakaobank</a>
      <a href="/Help" class="link_main">고객센터</a>
    </h1>
    <div id="kakaoGnb" role="navigation">
      <h2 class="screen_out">고객센터 메인메뉴</h2>
      <div class="bg_sub"></div>
      <ul class="gnb_kabang"></ul>
    </div>
  </script>

  <script id="bankHeaderGlobalNavTmpl" type="text/template">
    <%
    var subClass;
    switch (moduleId) {
    case "Recruit":
    subClass = "sub_hiring";
    break;
    case "Ethics":
    subClass = "sub_ethics";
    break;
    case "IR":
    subClass = "sub_invest";
    break;
    case "Ethics":
    subClass = "sub_hiring";
    break;
    case "News":
    subClass = "sub_new";
    break;
    case "Guide":
    subClass = "sub_info";
    break;
    case "Consult":
    subClass = "sub_counsel";
    break;
    case "ConsumerProtection":
    subClass = "sub_buyer";
    break;
    case "Certificate":
    subClass = "sub_prove";
    break;
    case "Documents":
    subClass = "sub_clause";
    break;
    default:
    subClass = "";
    break;
    }
    %>
      <li id="gnb_<%= moduleId %>">
        <a href="<%= externalLink ? externalLink : '/' + path %>" class="link_gnb" target="<%= externalLink ? '_blank' : '' %>">
          <%= moduleName %>
            <span class="bg_bar"></span>
        </a>
        <ul class="sub_menu <%= subClass %>"></ul>
      </li>
  </script>

  <script id="bankHeaderSubNavTmpl" type="text/template">
    <li id="snb_<%= moduleId %>">
      <a href="/<%= path %>" class="link_sub">
        <%= moduleName %>
      </a>
    </li>
  </script>

  <script id="bankContentTitleTmpl" type="text/template">
    <% if (moduleDescription) { %>
      <div class="wrap_tit">
        <% } %>
          <h3 class="tit_cont<%= !moduleDescription && hasBr ? ' tit_br' : '' %>">
            <%= moduleName %>
          </h3>
          <% if (moduleDescription) { %>
            <p class="txt_info">
              <%= moduleDescription %>
            </p>
            <% } %>
              <% if (moduleDescription) { %>
      </div>
      <% } %>
  </script>

  <script id="bankLocalbarTmpl" type="text/template">
    <ul id="localNav" class="tab_cont"></ul>
  </script>

  <script id="bankLocalbarItemTmpl" type="text/template">
    <li id="lnb_<%= moduleId %>">
      <a href="/<%= path %>" class="link_tab">
        <%= moduleName %>
      </a>
    </li>
  </script>
  <script id="lastConnTemplate" type="text/template">
    <% if (typeof lastConnTime !== "undefined") { %>
      <span class="txt_bar"></span>
      <a href="javascript:;" id="logoutBtn" class="link_login">
        <span class="img_kabang ico_login"></span>로그아웃</a>
      <% if (lastConnTime !== "") { %>
        (최근 접속
        <%= moment(lastConnTime, "YYYYMMDDHHmmssSS").format("YYYY.MM.DD HH:mm") %>)
          <% } %>
            <% } %>
  </script>

  <script id="bankSitemapTmpl" type="text/template">
    <div id="kakaobankSitemap" class="layer_all">
      <div class="wrap_info">
        <a href="/" class="img_kabang link_kabang">kakaobank</a>
        <div class="info_login">
          <% if (typeof lastConnTime !== "undefined") { %>
            <span class="txt_bar"></span>
            <a href="javascript:;" id="logoutBtn" class="link_login">
              <span class="img_kabang ico_login"></span>로그아웃</a>
            <% if (lastConnTime !== "") { %>
              (최근 접속
              <%= moment(lastConnTime, "YYYYMMDDHHmmssSS").format("YYYY.MM.DD HH:mm") %>)
                <% } %>
                  <% } %>
        </div>
      </div>
      <h2 class="screen_out">전체 서비스</h2>
      <div class="service_group service_customer">
        <div class="inner_group">
          <strong class="tit_service">
            <a href="/Help">고객센터</a>
          </strong>
          <div class="group_bundle">
            <strong class="tit_menu">
              <a href="/Help/Guide">이용안내</a>
            </strong>
            <ul class="list_menu">
              <li>
                <a href="/Help/Guide/Faq" class='link_menu'>자주묻는질문</a>
              </li>
              <li>
                <a href="/Help/Guide/Hours" class='link_menu'>이용시간안내</a>
              </li>
              <li>
                <a href="/Help/Guide/ATM" class='link_menu'>ATM 이용안내</a>
              </li>
              <li>
                <a href="/Help/Guide/Interests" class='link_menu'>금리안내</a>
              </li>
              <li>
                <a href="/Help/Guide/Fee" class='link_menu'>수수료안내</a>
              </li>
            </ul>
          </div>
          <div class="group_bundle">
            <strong class="tit_menu">
              <a href="/Help/Consult">상담하기</a>
            </strong>
            <ul class="list_menu">
              <li>
                <a href="/Help/Consult/VOC" class='link_menu'>고객의 소리</a>
              </li>
              <li>
                <a href="/Help/Consult/Online" class='link_menu'>1:1 문의</a>
              </li>
            </ul>
          </div>
          <div class="group_bundle">
            <strong class="tit_menu">
              <a href="/Help/ConsumerProtection">소비자보호</a>
            </strong>
            <ul class="list_menu">
              <li>
                <a href="/Help/ConsumerProtection/System" class='link_menu'>소비자보호체계</a>
              </li>
              <li>
                <a href="/Help/ConsumerProtection/BestPractices" class='link_menu'>소비자보호우수사례</a>
              </li>
              <li>
                <a href="/Help/ConsumerProtection/OnlineComplaints" class='link_menu'>전자민원</a>
              </li>
              <li>
                <a href="/Help/ConsumerProtection/VocStatus" class='link_menu'>민원현황공시</a>
              </li>
              <li>
                <a href="/Help/ConsumerProtection/VocGuide" class='link_menu'>민원사무편람</a>
              </li>
              <li>
                <a href="/Help/ConsumerProtection/FinancialInfo" class='link_menu'>금융정보</a>
              </li>
              <li>
                <a href="/Help/ConsumerProtection/FinancialFraudDisclosure/StopPayments" class='link_menu'>금융사기 관련공시</a>
              </li>
              <li>
                <a href="/Help/ConsumerProtection/SecurityVulnerability" class='link_menu'>보안취약점 신고 안내</a>
              </li>
            </ul>
          </div>
          <div class="group_bundle">
            <strong class="tit_menu">
              <a href="/Help/Certificate">증명서</a>
            </strong>
            <ul class="list_menu">
              <li>
                <a href="/Help/Certificate/MyCertHistory" class='link_menu'>나의 증명서발급내역</a>
              </li>
              <li>
                <a href="/Help/Certificate/Verify" class='link_menu'>증명서 진위 확인</a>
              </li>
            </ul>
          </div>
          <div class="group_bundle lst">
            <strong class="tit_menu">
              <a href="/Help/Documents">약관•서식</a>
            </strong>
            <ul class="list_menu">
              <li>
                <a href="/Help/Documents/Contracts" class='link_menu'>약관</a>
              </li>
              <li>
                <a href="/Help/Documents/Forms" class='link_menu'>서식</a>
              </li>
              <li>
                <a href="/Help/Documents/ProductManuals" class='link_menu'>상품설명서</a>
              </li>
              <li>
                <a href="/Help/Documents/ProductDeclaration" class='link_menu'>상품공시</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="service_group">
        <div class="inner_group">
          <strong class="tit_service">
            <a href="/Corp">은행소개</a>
          </strong>
          <div class="group_bundle">
            <strong class="tit_menu">
              <a href="/Corp/About">카카오뱅크</a>
            </strong>
            <ul class="list_menu">
              <li>
                <a href="/Corp/About/Identity" class='link_menu'>브랜드</a>
              </li>
              <li>
                <a href="/Corp/About/Consortium" class='link_menu'>주주사 소개</a>
              </li>
              <li>
                <a href="/Corp/About/Contacts" class='link_menu'>오시는 길</a>
              </li>
              <li>
                <a href="/Corp/About/Affiliate" class='link_menu'>제휴문의</a>
              </li>
            </ul>
          </div>
          <div class="group_bundle">
            <strong class="tit_menu">
              <a href="/Corp/Ethics">윤리경영</a>
            </strong>
            <ul class="list_menu">
              <li>
                <a href="/Corp/Ethics/CodeOfEthics" class='link_menu'>윤리강령</a>
              </li>
              <li>
                <a href="/Corp/Ethics/CodeOfConduct" class='link_menu'>임직원행동기준</a>
              </li>
            </ul>
          </div>
          <div class="group_bundle">
            <strong class="tit_menu">
              <a href="/Corp/IR">투자정보</a>
            </strong>
            <ul class="list_menu">
              <li>
                <a href="/Corp/IR/Announcement" class='link_menu'>공시정보</a>
              </li>
              <li>
                <a href="/Corp/IR/Finance" class='link_menu'>재무정보</a>
              </li>
            </ul>
          </div>
          <div class="group_bundle">
            <strong class="tit_menu">
              <a href="https://kakaobank.recruiter.co.kr" target="_blank">인재채용</a>
            </strong>
          </div>
          <div class="group_bundle lst">
            <strong class="tit_menu">
              <a href="/Corp/News">새소식</a>
            </strong>
            <ul class="list_menu">
              <li>
                <a href="/Corp/News/Notices" class='link_menu'>공지사항</a>
              </li>
              <li>
                <a href="/Corp/News/Events" class="link_menu">이벤트</a>
              </li>
              <li>
                <a href="/Corp/News/PressRelease" class='link_menu'>보도자료</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <a href="javascript:;" class="btn_close">
        <span class="img_kabang ico_close">닫기</span>
      </a>
    </div>
    <div id="sitemapBg"></div>
  </script>

  <script id="commonLoadingPopupTemplate" type="text/template">
    <div class="layer_kabang layer_alert layer_alert2 layer_progress" tabindex="-1">
      <div class="layer_body">
        <strong class="tit_alert <%= msg.indexOf('<br>') > -1 ? 'tit_alert2' : '' %>">
          <img src='/static/images/web/ring-alt.gif' class="loading_animation" alt="로딩 중">
          <br>
          <br>
          <%= msg %>
        </strong>
      </div>
    </div>
  </script>

  <script id="commonErrorPopupTemplate" type="text/template">
    <%
    var lineLength = msg.split("<br>").length;
    %>
      <div class="layer_kabang layer_alert layer_alert2" tabindex="-1" <%=l ineLength> 2 ? "style='height:236px'" : "" %>>
        <div class="layer_body">
          <strong class="tit_alert <%= lineLength > 1 ? 'tit_alert2' : '' %>">
            <%= msg %>
          </strong>
        </div>
        <div class="layer_foot">
          <button type="button" class="btn_g btn_check" data-close-popup="true">확인</button>
          <a href="javascript:;" class="btn_close">
            <span class="img_kabang ico_close">닫기</span>
          </a>
        </div>
      </div>
  </script>

  <script id="commonConfirmPopupTemplate" type="text/template">
    <%
    var lineLength = msg.split("<br>").length;
    %>
      <div class="layer_kabang layer_alert layer_alert2" tabindex="-1" <%=l ineLength> 2 ? "style='height:236px'" : "" %>>
        <div class="layer_body">
          <strong class="tit_alert <%= lineLength > 1 ? 'tit_alert2' : '' %>">
            <%= msg %>
          </strong>
        </div>
        <div class="layer_foot layer_foot_confirm">
          <button type="button" class="btn_g btn_check btn_confirm">확인</button>
          <button type="button" class="btn_g btn_cancel" data-close-popup="true">취소</button>
          <a href="javascript:;" class="btn_close">
            <span class="img_kabang ico_close">닫기</span>
          </a>
        </div>
      </div>
  </script>

  <script id="yesOrNoConfirmPopupTemplate" type="text/template">
    <%
    var lineLength = msg.split("<br>").length;
    %>
      <div class="layer_kabang layer_alert layer_alert2" tabindex="-1" <%=l ineLength> 2 ? "style='height:236px'" : "" %>>
        <div class="layer_body">
          <strong class="tit_alert <%= lineLength > 1 ? 'tit_alert2' : '' %>">
            <%= msg %>
          </strong>
        </div>
        <div class="layer_foot layer_foot_confirm">
          <button type="button" class="btn_g btn_check btn_confirm">예</button>
          <button type="button" class="btn_g btn_cancel" data-close-popup="true">아니오</button>
          <a href="javascript:;" class="btn_close">
            <span class="img_kabang ico_close">닫기</span>
          </a>
        </div>
      </div>
  </script>


  <script id="lastLoginPopupTemplate" type="text/template">
    <%
        var lineLength = msg.split("<br>").length;
    %>
      <div class="layer_kabang layer_alert layer_alert2" tabindex="-1" <%=l ineLength> 2 ? "style='height:236px'" : "" %>>
        <div class="layer_body">
          <strong class="tit_alert <%= lineLength > 1 ? 'tit_alert2' : '' %>">
            <%= msg %>
          </strong>
        </div>
        <div class="layer_foot">
          <button id="lastConnVerifyBtn" type="button" class="btn_g btn_check" data-close-popup="true">확인</button>
        </div>
      </div>
  </script>

  <script id="titleContentPopupTemplate" type="text/template">
    <div class="layer_kabang layer_titcon" tabindex="-1">
      <div class="layer_body">
        <strong class="title">
          <%= options.title %>
        </strong>
        <strong class="content">
          <%= options.content %>
        </strong>
      </div>
      <div class="layer_foot">
        <button type="button" class="btn_g btn_check" data-close-popup="true">확인</button>
      </div>
    </div>
  </script>

  <script id="returneeBoxTemplate" type="text/template">
    <div class="show_returnee">
      <div class="wrap_layer">
        <div class="layer_kabang layer_returnee">
          <div class="layer_head">
            <strong class="tit_returnee">가맹점 수수료 환급금 조회</strong>
            <div class="box_inp search_returnee on">
              <!-- 활성화시 on 클래스 추가 -->
              <form id="form-search" role="search">
                <fieldset>
                  <legend class="screen_out">주소검색 폼</legend>
                  <button class="btn_search" type="submit">
                    <span class="img_kabang ico_search">검색</span>
                  </button>
                  <input class="inp_g inp_search" id="searchReturnee" name="searchReturnee" maxlength="15" placeholder="가맹점 번호 15자리를 -없이 입력하세요"
                    type="text">
                  <button class="btn_delete" style="" type="button" hidden>
                    <span class="img_kabang ico_delete">검색어 삭제</span>
                  </button>
                </fieldset>
              </form>
            </div>
            <div class="txt_info">
              <span class="txt_example">※ 환급액 조회 및 입금 계좌 안내</span>
              <br>
              <span class="txt_example">- 조회 기간 : 2017.11.16 ~ 12.07</span>
              <br>
              <span class="txt_example">- 입금 일자 : 2017.11.30</span>
              <br>
              <span class="txt_example">- 입금 계좌 : KB국민카드 가맹점대금 지급 계좌</span>
              <br>
            </div>
          </div>
          <div class="layer_result">
            <div id="area-result" class="box_result">
              <span class="screen_out">검색 예시</span>
              <div id="boxResult" class="txt_result">
                <span id="textResult">가맹점 번호를 조회해주세요.</span>
              </div>
            </div>
            <a href="javascript:;" class="btn_close link_close">
              <span class="img_kabang ico_close">레이어팝업 닫기</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script id="returneeItemTemplate" type="text/template">
    <% if (model !== undefined) { %>
      <div class="search_result top">
        <div class="layer_result category">
          <span>가맹점</span>
        </div>
        <div class="layer_result detail">
          <span>
            <%= model.name %>(
              <%= model.id %>)</span>
        </div>
      </div>
      <div class="search_result">
        <div class="layer_result category">
          <span>총 환급액</span>
        </div>
        <div class="layer_result detail fee">
          <span>
            <em class="emph_g2">
              <%= model.fee %>원</em>
          </span>
        </div>
      </div>
      <% } else { %>
        <div class="txt_result none">
          <span>환급대상 가맹점이 아닙니다.
            <br>가맹점 번호를 다시 확인해주세요.</span>
        </div>
        <% } %>
  </script>

  <script id="QuantumApplicationTemplate" type="text/template">
    <div class="wrap_tbl"></div>

    <div class="quantum-footer">
      <div class="wrap_paging">
        <div class="search_board"></div>
      </div>

    </div>
    <div class="board_view"></div>
    <!-- <div class="board_btn"></div> -->

  </script>

  <script id="noDataTemplate" type="text/template">
    <p class="desc_none">
      <span class="img_kabang ico_not"></span>데이터가 없습니다!</p>
  </script>

  <script id="QuantumPaginationTemplate" type="text/template">
    <div class="paging_kabang">
      <div class="inner_paging">
        <% if (firstOfList !== 1){ %>
          <a href="/<%= initialPath %>/pages/<%= firstOfList - 1 %>" class="btn_page btn_prev">
            <span class="img_kabang ico_prev">이전</span>
          </a>
          <% } %>

            <% for(var i=firstOfList,len=lastOfList;i<=len;i++){ %>
              <% if(i == currentPageNumber){ %>
                <em class="link_page">
                  <%= i %>
                </em>
                <% }else{ %>
                  <a href="/<%= initialPath %>/pages/<%= i %><%= (typeof searchKeyword === 'string' && searchKeyword.length > 0) ? ';q=' + searchKeyword : '' %>"
                    class="link_page">
                    <%= i %>
                  </a>
                  <% } %>
                    <% } %>

                      <% if (lastOfList < lastPageNumber){ %>
                        <a href="/<%= initialPath %>/pages/<%= lastOfList + 1 %>" class="btn_page btn_next">
                          <span class="img_kabang ico_next">다음</span>
                        </a>
                        <% } %>
      </div>
    </div>
  </script>

  <script id="QuantumSearchFormTemplate" type="text/template">
    <fieldset>
      <legend class="screen_out">게시판 검색</legend>
      <div class="box_search">
        <input type="text" name="searchBoard" id="searchBoard" class="search_input inp_search" placeholder="검색" value="<%= searchKeyword %>">
      </div>
      <button type="button" class="btn_search show_search">
        <span class="img_kabang ico_search">검색</span>
      </button>
      <button type="submit" class="btn_search" style="display:none;">
        <span class="img_kabang ico_search">검색</span>
      </button>
    </fieldset>
  </script>



  <script id="QuantumContentViewControlTemplate" type="text/template">
    <!--<a href="javascript:;" class="btn_page"><span class="img_kabang"></span>이전</a>-->
    <!--<span class="txt_bar"></span>-->
    <!--<a href="javascript:;" class="btn_page">다음<span class="img_kabang ico_next"></span></a>-->
    <a href="/<%= initialPath %>/pages/<%= currentPage > 0 ? currentPage : 1 %>" class="btn_list">목록</a>
  </script>

  <script id="QuantumContentViewTemplate" type="text/template">
    <div class="view_tit">
      <strong class="tit_board">
        <%= title.replace(/\\n/g, " ") %>
      </strong>
      <span class="txt_date">
        <%= moment(reg_date).format("YYYY.MM.DD") %>
      </span>
    </div>
    <div class="view_cont">
      <%= content %>

        <% if (attachments.length > 0) { %>
          <div class="txt_btm">
            <strong>* 첨부파일 :</strong>
            <a href='https://og.kakaobank.io/download/<%= attachments[0].attachment_id %>' data-download="true"
              class="link_down">
              <%= attachments[0].filename %> (
                <%= numeral(attachments[0].filesize).format("0b") %>)</a>
          </div>
          <% } %>
    </div>
    <div class="board_btn" style="background-color:#fafafa"></div>
  </script>

  <script id="accordionLoadingTemplate" type="text/template">
    <div class="loading_layer">
      <img src='/static/images/web/ring-alt.gif' class="loading_animation" alt="로딩 중">
    </div>
  </script>

  <script id="notFoundTemplate" type="text/template">
    <div id="KakaoError">
      <div class="info_error">
        <span class="img_kabang img_error"></span>
        <strong class="tit_error">요청하신 페이지를 찾을 수 없습니다.</strong>
        <p class="desc_error">찾으시려는 페이지의 주소가 잘못 입력되었거나,
          <br> 페이지 주소의 변경 혹은 삭제로 인해 현재 사용하실 수 없습니다.
          <br> 입력하신 페이지의 주소가 정확한지 다시 한번 확인해 주시기 바랍니다.</p>
        <a href="/" class="link_home">
          <span class="inner_link">
            <span class="img_kabang ico_kakaobank">kakaobank</span>
            <span class="txt_home">첫 화면 가기</span>
          </span>
        </a>
      </div>
      <p class="txt_etc">※ 문의 : 카카오뱅크 고객센터 1599-3333 (해외 +82-2-6430-3333)
        <a href="/Help/Guide/Faq" class="link_qna">자주묻는질문 바로가기</a>
      </p>
    </div>
  </script>
  <script id="interErrorTemplate" type="text/template">
    <div id="KakaoError">
      <div class="info_error">
        <span class="img_kabang img_error"></span>
        <strong class="tit_error">해당 서비스 접속이 원활하지 않습니다.</strong>
        <p class="desc_error">신속하게 문제를 해결하고자 노력 중이며 원활한 서비스를
          <br> 제공할 수 있도록 최선을 다하겠습니다. 이용에 불편을 드려 대단히 죄송합니다.
          <br> 잠시 후 다시 접속해 주시기 바랍니다.</p>
        <a href="/" class="link_home">
          <span class="inner_link">
            <span class="img_kabang ico_kakaobank">kakaobank</span>
            <span class="txt_home">첫 화면 가기</span>
          </span>
        </a>
      </div>
      <p class="txt_etc">※ 문의 : 카카오뱅크 고객센터 1599-3333 (해외 +82-2-6430-3333)
        <a href="/Help/Guide/Faq" class="link_qna">자주묻는질문 바로가기</a>
      </p>
    </div>
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "카카오뱅크",
      "url": "https://www.kakaobank.com",
      "sameAs": [
        "https://www.youtube.com/kakaobank",
        "https://www.facebook.com/kakaobank.official",
        "http://blog.kakaobank.com",
        "https://pf.kakao.com/_SxbmHu"
      ]
    }
  </script>

</body>

</html>