@font-face {
    font-family: "Gotham";
    src: url("fonts/gotham-book-webfont.eot");
    src: url("fonts/gotham-book-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/gotham-book-webfont.woff") format("woff"),
         url("fonts/gotham-book-webfont.ttf") format("truetype"),
         url("fonts/gotham-book-webfont.svg#gotham_bookregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gotham-medium-webfont.eot");
    src: url("fonts/gotham-medium-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/gotham-medium-webfont.woff") format("woff"),
         url("fonts/gotham-medium-webfont.ttf") format("truetype"),
         url("fonts/gotham-medium-webfont.svg#gotham_bookregular") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gotham-light-webfont.eot");
    src: url("fonts/gotham-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/gotham-light-webfont.woff") format("woff"),
         url("fonts/gotham-light-webfont.ttf") format("truetype"),
         url("fonts/gotham-light-webfont.svg#gotham_bookregular") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gotham-thin-webfont.eot");
    src: url("fonts/gotham-thin-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/gotham-thin-webfont.woff") format("woff"),
         url("fonts/gotham-thin-webfont.ttf") format("truetype"),
         url("fonts/gotham-thin-webfont.svg#gotham_bookregular") format("svg");
    font-weight: 100;
    font-style: normal;
}


