body {
  font-family: 'Spoqa Han Sans', serif;
  font-weight: 500;
  font-size: 20px;
  font-style: italic
}

.description {
  white-space: pre-line;
}

.title {
  font-weight: 100;
}

.title > strong {
  font-weight: 700;
}

.heading {
  font-weight: 600;
  font-size: 18px;

}